@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --main-color: #F03C42;
    --secondary-color: #222374;
    --color-white: #ffffff;
    --gray-color: #cccccc;
    --black-color: #000000;
    ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    color: var(--color-white);
}

header{
    height: 100px;
    background-color: var(--main-color);
}

nav{
    display: flex;
    justify-content: space-between;
}

.dssuperfit-logo {
    font-size: 18px;
}

.dssuperfit-nav-rigth a{
    font-size: 14px;
}

.fitness-space-card{
    background-color: var(--gray-color);
}

.card-modalities{
    background-color: var(--secondary-color);
}

.bg-dark-blue{
    background-color: var(--secondary-color);
}

.bg-white{
    background-color: var(--color-white);
}

footer{
    height: 262px;
    background-color: var(--black-color);
}